<%- include('../shared/includes/head', { pageTitle: 'Register' }) %>
    <script src="/scripts/form-submission.js" defer></script>
  </head>
  <body>
    <%- include('../shared/includes/navbar') %>
    <main class="container">
      <%- include('../shared/includes/alerts/error') %>
      <h1>Register</h1>
      <%- include('includes/register-form') %>
    </main>
<%- include('../shared/includes/footer') %>