<div class="card mb-3">
  <% for (let image of campground.images) { %>
    <img class="card-img-top" src="<%= image.url %>" alt="<%= campground.title %>">
  <% } %>
  <div class="card-body">
    <h5 class="card-title"><%= campground.title %></h5>
    <p class="card-text"><%= campground.description %></p>
  </div>
  <ul class="list-group list-group-flush">
    <li class="list-group-item text-muted"><%= campground.location %></li>
    <li class="list-group-item"><%= campground.author.username %></li>
    <li class="list-group-item">$<%= campground.price %>/night</li>
  </ul>
  <% if (locals.user && campground.author.equals(user._id)) { %>
    <div class="card-body">
      <a href="/campgrounds/<%= campground._id %>/edit" class="btn btn-warning card-link">Edit</a>
      <form
        action="/campgrounds/<%= campground._id %>?_method=DELETE" method="POST"
        class="d-inline">
        <button class="btn btn-danger">Delete</button>
      </form>
    </div>   
  <% } %>
  <footer class="card-footer">
    <a href="/campgrounds">All Campgrounds</a>
  </footer>
</div>