<form
  action="<%= submitUrl %>" method="POST"
  class="needs-validation" novalidate
  enctype="multipart/form-data">
  <div class="mb-3">
    <label class="form-label" for="title">Title</label>
    <input
      class="form-control" id="title"
      type="text" name="campground[title]" required
      value="<%= campground ? campground.title : '' %>" />
    <div class="invalid-feedback">
      Please choose a title!
    </div>
  </div>
  <div class="mb-3">
    <label class="form-label" for="location">Location</label>
    <input
      class="form-control" id="location"
      type="text" name="campground[location]" required
      value="<%= campground ? campground.location : '' %>" />
      <div class="invalid-feedback">
        Please choose a location!
      </div>
  </div>
  <div class="mb-3">
    <label class="form-label" for="price">Price</label>
    <div class="input-group">
      <span class="input-group-text">$</span>
      <input
        class="form-control" id="price"
        type="number" name="campground[price]" required
        value="<%= campground ? campground.price : '' %>"
        placeholder="0,00" min="0.01" step="0.01" />
        <div class="invalid-feedback">
          Please choose a correct price! (Greater than zero)
        </div>
    </div>
  </div>
  <div class="mb-3">
    <div class="mb-3">
      <label for="images" class="form-label">Images</label>
      <input
        type="file" name="images" class="form-control" id="images" multiple
        <% if (!campground) { %>required<% } %> />
    </div>
  </div>
  <div class="mb-3">
    <label class="form-label" for="description">Description</label>
    <textarea
      class="form-control" id="location"
      rows="5" name="campground[description]" required
    ><%= campground ? campground.description : '' %></textarea>
    <div class="invalid-feedback">
      Please write a description!
    </div>
  </div>
  <% if (campground) { %>
    <div class="mb-3">
      <% campground.images.forEach((image, idx) => { %>
        <img
          src="<%= image.thumbnail %>" alt=""
          class="img-thumbnail" />
        <div class="form-check-inline">
          <label for="image-<%= idx %>">Delete?</label>
          <input
            type="checkbox" name="deleteImages[]" id="image-<%= idx %>"
            value="<%= image.filename %>" />
        </div>
      <% }) %>
    </div>
  <% } %>
  <div class="mb-3">
    <button class="btn btn-success">
      <%= campground ? 'Update Campground' : 'Add Campground' %>
    </button>
  </div>
</form>