<%- include('../shared/includes/head', { pageTitle: campground.title }) %>
    <script src="/scripts/form-submission.js" defer></script>
    <script src="/scripts/reviews.js" defer></script>
  </head>
  <body>
    <%- include('../shared/includes/navbar') %>
    <main class="container">
      <%- include('../shared/includes/alerts/success') %>     
      <%- include('../shared/includes/alerts/error') %>     
      <div class="row">
        <div class="col-6">
          <%- include('includes/campground-card', { campground }) %>
        </div>
        <div class="col-6">
          <% if (locals.user) { %>
            <h2>Leave a Review</h2>
            <%- include('includes/review-form', { campground }) %>           
          <% } %>
          <ul id="reviews-list" style="padding-left: 0;">
            <% campground.reviews.forEach(review => { %>
              <li class="reviews-list-item">
                <%- include('includes/review-card', { review }) %>
              </li>
            <% }) %>
          </ul>
          <%- include('includes/review-template') %>          
        </div>
      </div>
    </main>
<%- include('../shared/includes/footer') %>
