<%- include('../shared/includes/head', { pageTitle: campground.title }) %>
  </head>
  <body>
    <%- include('../shared/includes/navbar') %>
    <main class="container">
      <div class="row">
        <div class="col-6 offset-3">
          <div class="card mb-3">
            <img class="card-img-top" src="<%= campground.image %>" alt="<%= campground.title %>">
            <div class="card-body">
              <h5 class="card-title"><%= campground.title %></h5>
              <p class="card-text"><%= campground.description %></p>
            </div>
            <ul class="list-group list-group-flush">
              <li class="list-group-item text-muted"><%= campground.location %></li>
              <li class="list-group-item">$<%= campground.price %>/night</li>
            </ul>
            <div class="card-body">
              <a href="/campgrounds/<%= campground._id %>/edit" class="btn btn-warning card-link">Edit</a>
              <form
                action="/campgrounds/<%= campground._id %>?_method=DELETE" method="POST"
                class="d-inline">
                <button class="btn btn-danger">Delete</button>
              </form>
            </div>
            <footer class="card-footer">
              <a href="/campgrounds">All Campgrounds</a>
            </footer>
          </div>
          <h2>Leave a Review</h2>
          <%- include('includes/review-form') %>
        </div>
      </div>     
    </main>
<%- include('../shared/includes/footer') %>
