<%- include('../shared/includes/head', { pageTitle: campground.title }) %>
  </head>
  <body>
    <%- include('../shared/includes/navbar') %>
    <main class="container">
      <h1><%= campground.title %></h1>
      <h3><%= campground.location %></h3>
      <img src="<%= campground.image %>" alt="" />
      <p><%= campground.description %></p>
      <form action="/campgrounds/<%= campground._id %>?_method=DELETE" method="POST">
        <button>Delete</button>
      </form>
      <footer>
        <a href="/campgrounds/<%= campground._id %>/edit">Edit Campgrounds</a>
        <a href="/campgrounds">All Campgrounds</a>
      </footer>
    </main>
<%- include('../shared/includes/footer') %>
