<%- include('../shared/includes/head', { pageTitle: campground.title }) %>
    <script src="/scripts/form-submission.js" defer></script>
    <script src="/scripts/reviews.js" defer></script>
  </head>
  <body>
    <%- include('../shared/includes/navbar') %>
    <main class="container">
      <div class="row">
        <div class="col-6">
          <%- include('includes/campground-card', { campground }) %>
        </div>
        <div class="col-6">
          <h2>Leave a Review</h2>
          <%- include('includes/review-form', { campground }) %>
          <ul id="reviews-list" style="padding-left: 0;"></ul>
          <template id="review-template">
            <div class="card mb-3">
              <div class="card-body">
                <h5 class="card-title"></h5>
                <p class="card-text"></p>
                <button class="btn btn-sm btn-danger">
                  Delete
                </button>
              </div>
            </div>
          </template>
        </div>
      </div>     
    </main>
<%- include('../shared/includes/footer') %>
