<%- include('../shared/includes/head', { pageTitle: 'All Campgrounds' }) %>
    <!-- Mapbox -->    
    <script src='https://api.mapbox.com/mapbox-gl-js/v2.11.0/mapbox-gl.js'></script>
    <link href='https://api.mapbox.com/mapbox-gl-js/v2.11.0/mapbox-gl.css' rel='stylesheet' />

    <!-- Custom Scripts -->
    <script src="/scripts/cluster-map.js" defer></script>

    <!-- Set Global Variables - For use in cluster map.js -->
    <script>
      const mapToken = '<%- process.env.MAPBOX_API_KEY %>';
      const campgrounds = '<%- JSON.stringify(campgrounds) %>'.replace(/\n/g, '');
    </script>
  </head>
  <body>
    <%- include('../shared/includes/navbar') %>
    <main class="container">
      <%- include('../shared/includes/alerts/success') %>
      <%- include('../shared/includes/alerts/error') %>
      <div id="map" style="width: 100%; height: 500px;"></div>
      <h1>All Campgrounds...</h1>
      <div>
        <a href="/campgrounds/new">Add campground</a>
      </div>
      <ul>
        <% for(let campground of campgrounds) { %>
          <%- include ('includes/campground-item', { campground }) %>
        <% } %>
      </ul>
    </main>
<%- include('../shared/includes/footer') %>
